@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: -webkit-linear-gradient(#ECEFFE, #ced6fb); /* Для старих версій Chrome і Safari */
  background: -moz-linear-gradient(#ECEFFE, #ced6fb);    /* Для старих версій Firefox */
  background: linear-gradient(#ECEFFE, #ced6fb);         /* Стандартний синтаксис */
}


